*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}

body{

display:flex;

background:#f4f4f4;

}

.sidebar{

width:260px;

height:100vh;

background:#e7ad3c;

padding:30px;

display:flex;

flex-direction:column;

gap:20px;

}

.sidebar h2{

color:white;

margin-bottom:20px;

}

.sidebar a{

color:white;

text-decoration:none;

font-size:18px;

padding:15px;

border-radius:10px;

transition:.3s;

}

.sidebar a:hover{

background:#ff4fb8;

}

.contenido{

flex:1;

padding:50px;

}

.cards{

display:flex;

gap:30px;

margin-top:40px;

}

.card{

background:white;

padding:40px;

width:220px;

text-align:center;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.1);

}

.card h2{

font-size:50px;

color:#ff4fb8;

margin-bottom:15px;

}