.consulta{

padding:60px;

text-align:center;

}

.consulta h1{

font-size:45px;

color:#333;

}

.consulta form{

margin:auto;

margin-top:50px;

max-width:650px;

display:flex;

flex-direction:column;

gap:20px;

}

.consulta input,
.consulta select,
.consulta textarea{

padding:18px;

border:none;

border-radius:12px;

font-size:17px;

background:white;

box-shadow:0 5px 12px rgba(0,0,0,.1);

}

.consulta textarea{

height:140px;

resize:none;

}

.consulta button{

background:#ff4fb8;

color:white;

border:none;

padding:18px;

font-size:20px;

font-weight:bold;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.consulta button:hover{

background:#e83e9d;

transform:translateY(-3px);

}