.contacto{

padding:60px;

text-align:center;

}

.contacto h1{

font-size:45px;

color:#333;

}

.contenedor-contacto{

margin-top:50px;

display:flex;

justify-content:space-between;

align-items:flex-start;

gap:40px;

flex-wrap:wrap;

}

.informacion{

flex:1;

min-width:300px;

text-align:left;

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.informacion h2{

margin-bottom:20px;

color:#ff4fb8;

}

.informacion p{

margin:15px 0;

font-size:18px;

line-height:1.6;

}

.mapa{

flex:1;

min-width:350px;

}

.mapa iframe{

width:100%;

height:450px;

border:none;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}